#* @vtlvariable name="supportedLang" type="pl.edu.uj.ii.webapp.SupportedLang[]" *#
<hmtl>
    <head></head>

    <body>
    <h1>Welcome on RushHour!</h1>

    <form action="/submit" method="post">
        <fieldset>
            <legend>Upload source code content</legend>

            <div>
                <label for="supportedLang">Select Language</label>
                <select name="supportedLang">
                    #foreach ($lang in $supportedLang)
                        <option value="$lang.ordinal()">$lang.getDescription()</option>
                    #end
                </select>
            </div>
            <div>
                <label for="filebutton">Upload file</label>

                <div>
                    <input id="filebutton" name="filebutton" class="input-file" type="file">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit solution">
            </div>
        </fieldset>
    </form>

    </body>
</hmtl>