java.7.home=/usr/bin/java
java.8.home=/usr/bin/java
python.2.interpreter=/usr/bin/python2.7
python.3.interpreter=/usr/bin/python3.4
compiled.file.dir.java.7=jdk1_7
compiled.file.dir.java.8=jdk1_8
compiled.file.dir.python.2=python_2
compiled.file.dir.python.3=python_3
uploaded.file.dir=rush-hour-webapp/target/classes
test.cases.dir=testCases/